
.body {
    margin: 15px 15px 15px 15px;
}

.card {
    margin: 20px 20px 20px 20px;
}

.list-group-item {
    color: black;
}

#b {
    position: relative;
    min-height: 100%;
}


#f {
    width: 100%;
    position: absolute;
    bottom: 0;
}